* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: .5px solid red; */
}

h2 {
    text-align: center;
}

p {
    padding: 10px; /* este cambio quedará hasta que empiece el integrador 2, en donde tendré que poner mas cambios y usar mas el p */
}