/* ----------------------------------------------- */
/* HEADER                                          */
/* ----------------------------------------------- */
/* MOBILE FIRST */
.main-header {
    display: flex;
    flex-direction: column-reverse;// esto es para el menú hamburguesa
    color: #EAECEB;

    @media screen and (min-width: 992px) {
        & {
            flex-direction: column;
        }
    }
}

#menu {
    display: none;
    
    /* Hacer funcionar el checkbox -> Hacer funcionar el menú hamburgüesa */

    &:checked + .nav-bar {    /* al ponerle "checked" este mismo pasa a permanecer activo */
        display: block;
    }
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors */
    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: yellow;
    }
}

/* ----------------------------------------------- */
/* NAVBAR                                          */
/* ----------------------------------------------- */

.nav-bar {
    background-color: mediumaquamarine;
    display: none;

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;

        @media screen and (min-width: 992px) {
            & {
                flex-direction: row;
            } 
        }
    }

    &__nav-item { /* .nav-bar__nav-item */
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        background-color: purple;
        padding: 1rem 2rem;
        color: white;
    }

    @media screen and (min-width: 992px) {
        & {
            display: block;
        }
    }
}

/* ----------------------------------------------- */
/* SEARCH BAR                                          */
/* ----------------------------------------------- */

.search-bar {
    display: flex;
    background-color: olivedrab;
    justify-content: space-around;

    &__logo-container { /* .search-bar__logo-container */
        width: 18.75rem;
        height: 3.75rem;
        background-color: #1D201F;
    }

    &__form-container { /* .search-bar__form-container */
        padding: 1rem;

        background-color: #1D201F;
        display: flex;
        flex-basis: 100%;
        justify-content: center;

    }

    &__form-label {
        background-color: #383D3B;
    }

    &__form-search {
        background-color: #EAECEB;
    }

    &__form-submit {
        background-color: #383D3B;
        color: #EAECEB;
    }

    &__carrito-container {
        /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
        flex: 0 0 3rem; /* shorthand (grow shrink basis) */
        background-color: #1D201F;
    }
}

/* ----------------------------------------------- */
/* MENÚ TOOGLE                                     */
/* ----------------------------------------------- */

.menu-toogle {
    display: block;

    background-color: red;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer; /* manito, al ponerle cursos pointer lo que pasa es que al achicar el modelo el cursos se hace redondo simulando a lo que sería el dedo */

    &__label { /* .menu-toogle__label */
        display: block;
        background-color: black;
        height: 100%;
    }

    &__top-bread, /* .menu-toogle__top-bread */
    &__meat, /* .menu-toogle__top-bread */
    &__bottom-bread { /* .menu-toogle__top-bread */
        displaY: block;
        background-color: #333;
        height: .2rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
    }

    &__top-bread {
        top: .8rem;
    }

    &__meat { /* Centrar sin usar flexbox */
        top: 50%; /* centrando verticalmente */
        margin-top: -.1rem;
    }

    &__bottom-bread {
        bottom: .8rem;
    }

    @media screen and (min-width: 992px) {
        & { /* .menu-toogle */
            display: none;  
        }
    }

}




